
# directories (by name)

/.git-old/
/.vs/

/_build/
/_internal/

/bin/
/ipch/
/lib/

/doc/
/dox/
/ideas/
/releases/
/scratch/
/temp/

/include/b64/
/include/shwild/
/include/xcontract/
/include/xcover/
/include/xtests/

/src/b64/
/src/shwild/
/src/xcontract/
/src/xcover/
/src/xtests/

/bin/
/doc/
/ideas/
/lib/

.svn/

Debug Multithreaded DLL/
Debug Multithreaded/
Debug/
DebugDll/
Release Multithreaded DLL/
Release Multithreaded/
Release/
ReleaseDll/
Unicode Debug Multithreaded DLL/
Unicode Debug Multithreaded/
Unicode Debug/
Unicode Release Multithreaded DLL/
Unicode Release Multithreaded/
Unicode Release/

vc71/
vc8/
vc9/

Win32/
x64/


# directories (by pattern)


# files (by name)

.DS_Store
.ruby-version
.update_deps

list_changes.cmd
prepare.cmd
sh.exe.stackdump
tidydir.cmd
update_deps.cmd

build/makefile.tmpl
build/makefile.tools.xml

include/fastformat/internal/dos2unix.has.been.performed
include/pantheios/internal/dos2unix.has.been.performed

test/tests-plan.txt


# files (by pattern)

*~
*.???_obj
*.a
*.app
*.aps
*.b64
*.bak
*.chm
*.d
*.dll
*.dsp
*.dylib
*.exe
*.gch
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.la
*.lai
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.rar
*.res
*.sbr
*.scc
*.sdf
*.slo
*.so
*.suo
*.swp
*.tlog
*.tmp
*.unsuccessfulbuild
*.vcproj*.user
*.vcxproj*.user
*.xcuserstate
*.zip

RCa0*
RCb0*

*.vc71.sln
*.vc8.sln
*.vc9.sln

build/*.tmplgen
build/*.tmpl
build/*.tools.xml

