
# directories (by name)

/.vs/

/_build/
/_internal/

/include/b64/
/include/shwild/
/include/xcontract/
/include/xcover/
/include/xtests/

/src/b64/
/src/shwild/
/src/xcontract/
/src/xcover/
/src/xtests/

/bin/
/doc/
/ideas/
/lib/

Debug Multithreaded DLL/
Debug Multithreaded/
Debug/
DebugDll/
Release Multithreaded DLL/
Release Multithreaded/
Release/
ReleaseDll/
Unicode Debug Multithreaded DLL/
Unicode Debug Multithreaded/
Unicode Debug/
Unicode Release Multithreaded DLL/
Unicode Release Multithreaded/
Unicode Release/

vc71/
vc8/
vc9/

Win32/
ipch/
x64/


# directories (by pattern)


# files (by name)

.DS_Store
.ruby-version
.update_deps

list_changes.cmd
prepare.cmd
tidydir.cmd
update_deps.cmd

build/makefile.tmpl
build/makefile.tools.xml

include/fastformat/internal/dos2unix.has.been.performed
include/pantheios/internal/dos2unix.has.been.performed

test/tests-plan.txt


# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.ilk
*.ipch
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.sbr
*.scc
*.sdf
*.so
*.suo
*.swp
*.vcproj*.user
*.vcxproj*.user

*.vc71.sln
*.vc8.sln
*.vc9.sln


